<h1>
  <strong>投稿内容はコチラ</strong>
</h1>

<p>
  <strong>タイトル：</strong>
  <%= @post.title %>
</p>

<p>
  <strong>投稿内容：</strong>
  <%= @post.content %>
</p>

<p>
  <strong>ユーザーID：</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>イメージ：</strong>
  <%= image_tag @post.image.to_s %>
</p>

<div class= favorite_button>
  <% unless @post.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'お気に入りする', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <div class="footer">
      <%= link_to '編集する', edit_post_path(@post) %>
      <%= link_to '削除する', post_path(@post.id), method: :delete, data: {confirm: '本当に削除してもよろしいですか?'}%>
      <%= link_to '投稿一覧へ進む', posts_path %>
    </div>
  <% end %>
</div>
